include LICENSE
include README.rst
recursive-include authentication/templates *
recursive-include keymaster/static *
recursive-include keymaster/templates *
recursive-include keymaster/fixtures *
recursive-include menu/fixtures *
