{% extends "sshkm/base.html" %}

{% block title %}Save Group{% endblock %}

{% block content %}
{% load bootstrap3 %}
        <form action="{% url 'GroupSave' %}" method="post" class="form">
          {% csrf_token %}
          {% bootstrap_field groupform.name %}
          {% bootstrap_field groupform.description set_required=False %}
          {% bootstrap_field groupform.members set_required=False %}
          {% if request.GET.id %}
          <input type="hidden" name="id" value="{{ request.GET.id }}">
          {% endif %}
          {% buttons %}
            <button type="submit" class="btn btn-default">Submit</button>
          {% endbuttons %}
        </form>
{% if permissions %}
       <br>
       <h4>Permissions for this group</h4>
       <div class="panel panel-default">
         <table class="table table-striped table-hover">
            <tr>
              <th>Host</th>
              <th>OS-User</th>
            </tr>
            {% for permission in permissions %}
            <tr>
              <td>{{ permission.host.name }}</td>
              <td>{{ permission.osuser.name }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
{% endif %}
{% endblock %}
