{% extends "sshkm/base.html" %}

{% block title %}Keys{% endblock %}

{% block content %}
{% if keys %}
        <br>
        <input type="text" id="searchbox" class="form-control searchbox" placeholder="filter ...">
        <br>
        <form role="form" method="post" action="{% url 'KeyDelete' %}" name="deleteMultipleKeys">
          {% csrf_token %}
          <table class="DataTable display">
            <thead>
              <tr>
                <th><input type="checkbox" class="checkAll"></th>
                <th>Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for key in keys %}
              <tr>
                <td><input type="checkbox" name="id_multiple" id="{{ key.id }}" value="{{ key.id }}"></td>
                <td><a href="{% url 'KeyDetail' %}?id={{ key.id }}">{{ key.name }}</a></td>
                <td><a href="{% url 'KeyDetail' %}?id={{ key.id }}">{{ key.firstname }}</a></td>
                <td><a href="{% url 'KeyDetail' %}?id={{ key.id }}">{{ key.lastname }}</a></td>
                <td><a href="{% url 'KeyDetail' %}?id={{ key.id }}">{{ key.email }}</a></td>
                <td align="right">
                  <a href="#" onclick="
                    BootstrapDialog.confirm(
                      {
                        title: 'please confirm',
                        message: 'Are you shure you want to delete key {{ key.name }}',
                        btnOKClass: 'btn-default',
                        callback: function(result) {
                          if(result) {
                            window.location.href = '{% url 'KeyDelete' %}?id={{ key.id }}';
                          }
                        }
                      }
                    );
                  "><span class="glyphicon glyphicon-trash" aria-hidden="true" title="delete"></span></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
{% else %}
        <p>No Keys are available.</p>
{% endif %}
{% endblock %}

{% block footer %}
              <li><a href="{% url 'KeyDetail' %}">New Key</a></li>
{% if keys %}
              <li><a href="#" onclick="
                checkboxCheck(
                  function(){
                    document.deleteMultipleKeys.submit();
                  },
                  'id_multiple',
                  'please confirm',
                  'Are you shure you want to delete selected key(s)',
                  'no key(s) selected',
                  'Please select at least one key'
                )
              ">Delete</a></li>
{% endif %}
{% endblock %}
