{% extends "sshkm/base.html" %}

{% block title %}Osusers{% endblock %}

{% block content %}
{% if osusers %}
        <br>
        <input type="text" id="searchbox" class="form-control searchbox" placeholder="filter ...">
        <br>
        <form role="form" method="post" action="{% url 'OsuserDelete' %}" name="deleteMultipleOsusers">
          {% csrf_token %}
          <table class="DataTable display">
            <thead>
              <tr>
                <th><input type="checkbox" class="checkAll"></th>
                <th>Name</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            </tbody>
              {% for osuser in osusers %}
              <tr>
                <td><input type="checkbox" name="id_multiple" id="{{ osuser.id }}" value="{{ osuser.id }}"></td>
                <td><a href="{% url 'OsuserDetail' %}?id={{ osuser.id }}">{{ osuser.name }}</a></td>
                <td align="right">
                  <a href="#" onclick="
                    BootstrapDialog.confirm(
                      {
                        title: 'please confirm',
                        message: 'Are you shure you want to delete the osuser {{ osuser.name }}',
                        btnOKClass: 'btn-default',
                        callback: function(result) {
                          if(result) {
                            window.location.href = '{% url 'OsuserDelete' %}?id={{ osuser.id }}';
                          }
                        }
                      }
                    );
                  "><span class="glyphicon glyphicon-trash" aria-hidden="true" title="delete"></span></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
       </form>
{% else %}
       <p>No Osusers are available.</p>
{% endif %}
{% endblock %}

{% block footer %}
              <li><a href="{% url 'OsuserDetail' %}">New OS-User</a></li>
{% if osusers %}
              <li><a href="#" onclick="
                checkboxCheck(
                  function(){
                    document.deleteMultipleOsusers.submit();
                  },
                  'id_multiple',
                  'please confirm',
                  'Are you shure you want to delete selected OS-User(s)',
                  'no OS-User(s) selected',
                  'Please select at least one OS-User'
                )
              ">Delete</a></li>
{% endif %}
{% endblock %}
