{% extends "sshkm/base.html" %}

{% block title %}Create new Permission{% endblock %}

{% block content %}
{% load bootstrap3 %}
<form action="{% url 'PermissionSave' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_label "Select host(s) on which you want to set perssion(s):" label_for="host" %}
    {% bootstrap_field permissionform.host set_required=False show_label=False %}
    {% bootstrap_label "Select the group(s) which has/have permission on the selected host(s):" label_for="group" %}
    {% bootstrap_field permissionform.group set_required=False show_label=False %}
    {% bootstrap_label "Select OS-User(s) on which the key(s) in the selected group(s) should be allowed to connect on the selected hosts(s):" label_for="osuser" %}
    {% bootstrap_field permissionform.osuser set_required=False show_label=False %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    {% endbuttons %}
</form>

{% endblock %}
