{% extends "sshkm/base.html" %}

{% block title %}Permissions{% endblock %}

{% block content %}
        <a class="btn btn-default pull-right" href="{% url 'PermissionCreate' %}">New</a>
        <br><br>
{% if permissions %}
        <form role="form" method="post" action="{% url 'PermissionDelete' %}" name="deleteMultiplePermissions">
          {% csrf_token %}
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <th><input type="checkbox" class="checkAll"></th>
                <th>Host</th>
                <th>Group</th>
                <th>OS-User</th>
                <th>&nbsp;</th>
              </tr>
              {% for permission in permissions %}
              <tr>
                <td><input type="checkbox" name="id_multiple" id="{{ permission.id }}" value="{{ permission.id }}"></td>
                <td>{{ permission.host.name }}</td>
                <td>{{ permission.group.name }}</td>
                <td>{{ permission.osuser.name }}</td>
                <td align="right">
                  <a href="#" onclick="
                    BootstrapDialog.confirm(
                      {
                        title: 'please confirm',
                        message: 'Are you shure you want to delete the permission {{ permission.host.name }} -> {{ permission.group.name }} -> {{ permission.osuser.name }}',
                        btnOKClass: 'btn-default',
                        callback: function(result) {
                          if(result) {
                            window.location.href = '{% url 'PermissionDelete' %}?id={{ permission.id }}';
                          }
                        }
                      }
                    );
                  "><span class="glyphicon glyphicon-trash" aria-hidden="true" title="delete"></span></a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="btn btn-default" onclick="
            checkboxCheck(
              function(){
                document.deleteMultiplePermissions.submit();
              },
              'id_multiple',
              'please confirm',
              'Are you shure you want to delete selected permission(s)',
              'no permission(s) selected',
              'Please select at least one permission'
            )
          ">Delete</div>
        </form>
{% else %}
        <p>No Permissions are available.</p>
{% endif %}
{% endblock %}
