{% extends "sshkm/base.html" %}

{% block title %}Save Host{% endblock %}

{% block content %}
{% load bootstrap3 %}
        <form action="{% url 'HostSave' %}" method="post" class="form">
          {% csrf_token %}
          {% bootstrap_field hostform.name %}
          {% bootstrap_field hostform.description set_required=False %}
          {% if request.GET.id %}
          <input type="hidden" name="id" value="{{ request.GET.id }}">
          {% endif %}
          {% buttons %}
          <button type="submit" class="btn btn-primary">Submit</button>
          {% endbuttons %}
        </form>
{% endblock %}
